body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-inline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  min-width: 400px;
  background: transparent;
  .form-control {
    min-width: 80%;
    width: 50%;
    background: transparent;
    border: none;
    font-size: 14px;
    color: black;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
.stack-logo-btn {
  width: auto;
  background: url('../img/search-icons/stack-overflow.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  padding: 5px 15px;
  transition: all .2s ease-in-out;
}
.google-logo-btn {
  width: auto;
  background: url('../img/search-icons/icons8-google.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  padding: 5px 15px;
  transition: all .2s ease-in-out;
}
.youtube-logo-btn {
  width: auto;
  background: url('../img/search-icons/icons8-play-button.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  padding: 5px 15px;
  transition: all .2s ease-in-out;
}
.dropdown-toggle {
  padding: 5px 4px;
  background: transparent
}

.dropdown-menu {
  top: 43px;
    p {
      padding: 0 6px;
      font-size: 12px
    }
  
    .dropdown-item {
      width: 100%;
      height: auto;
      padding: 6px;
      margin: 4px 0;
      cursor: pointer;
      font-size: 14px;
      transition: all .2s linear;
        img {
          width: 20px;
          height: 100%;
          padding: 0;
        }
      &:hover,
      &:focus,
      &:active {
        background: rgba(0,0,0,.1);
      }
    }

}
.google-form {
  display: none;
}
.youtube-form {
  display: none;
}
.row {
  margin: 0;
}
.grid-ctn {
  width: auto;
  max-width: auto;
  height: auto;
}

.card {
  margin-bottom: 25px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  img {
    height: 130px;
  }
  a {
    color: brown;
  }
  p {
    font-size: 14px
  }
}