@font-face {
  font-family: Digital;
  src: url("../fonts/digital-7.ttf");
}

@font-face {
  font-family: bubble;
  src: url("../fonts/BubblegumSans-Regular.ttf");
}

@font-face {
  font-family: Karla;
  src: url("../fonts/Karla-Regular.ttf");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  font-family: Karla;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}

.loader img {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.main {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.time {
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  padding: 0px;
  margin: 0 5px;
  z-index: 1000;
}

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 700px;
  min-width: 300px;
  background: transparent;
  background: #f4f4f4;
  margin-top: -60px;
  font-family: Karla;
}

.form-inline .form-control {
  min-width: 80%;
  width: 50%;
  background: transparent;
  border: none;
  font-size: 14px;
  color: black;
  background: #f4f4f4;
}

.form-inline .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}

.stack-logo-btn {
  width: auto;
  background: url("../img/search-icons/stack-overflow.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  padding: 5px 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.google-logo-btn {
  width: auto;
  background: url("../img/search-icons/icons8-google.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  padding: 5px 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.youtube-logo-btn {
  width: auto;
  background: url("../img/search-icons/icons8-play-button.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  padding: 5px 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.dropdown-toggle {
  padding: 5px 4px;
  background: transparent;
}

.dropdown-menu {
  top: 43px;
  background: #f9f9f9;
  font-family: Karla;
}

.dropdown-menu p {
  padding: 0 6px;
  font-size: 12px;
}

.dropdown-menu .dropdown-item {
  width: 100%;
  height: auto;
  padding: 6px;
  margin: 4px 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.dropdown-menu .dropdown-item img {
  width: 20px;
  height: 100%;
  padding: 0;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active {
  background: rgba(0, 0, 0, 0.1);
}

.stack-form {
  display: none;
}

.youtube-form {
  display: none;
}

.grid-wrapper {
  scroll-behavior: smooth;
}

.grid-ctn {
  width: 80%;
  margin: 0 auto;
}

#blog {
  overflow-y: auto;
  min-width: 100%;
  min-height: 58vh;
  padding: 0;
  height: 455px;
}

#blog::-webkit-scrollbar {
  width: 5px;
}

#blog::-webkit-scrollbar-track {
  background-color: white;
}

#blog::-webkit-scrollbar-thumb {
  background-color: rgba(204, 169, 44, 0.4);
  outline: 1px solid rgba(204, 169, 44, 0.4);
}

#blog .up-btn {
  clear: both;
  cursor: pointer;
  font-size: 30px;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: rgba(204, 169, 44, 0.4);
}

.card {
  width: 230px;
  min-width: auto;
  cursor: pointer;
  background: black;
  font-family: Karla;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card img {
  height: 95px;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card p {
  font-size: 13px;
}

.card .card-title {
  width: 100%;
  min-width: 100%;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 14.5px;
  color: white;
  font-family: Karla;
}

.card .read-post-btn {
  font-size: 12px;
  font-family: Karla;
}

footer .date {
  font-size: 14px;
  margin: 0 5px;
  font-weight: bolder;
}

footer .footer-note {
  font-size: 12px;
  margin: 0 5px;
}

footer .footer-note .icons-group {
  height: 20px;
}

footer .footer-note .icons-group img {
  width: 20px;
  height: 20px;
  opacity: .7;
}
/*# sourceMappingURL=style.css.map */